* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --btn-color: #a4abe9;
  --banner-color: linear-gradient(90deg, #667eea, #764ba2);
  --theme-color: #575757;
  --form-color: #ececec;
  --white: #fff;
  --body: #f6f6f6;
  --user-color: #667eea;
  --text: #000;
  --box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1), 0 6px 20px rgba(0, 0, 0, 0.1);
}

body.dark-theme {
  --btn-color: #7baaf5;
  --banner-color: linear-gradient(90deg, #a1c4fd, #c2e9fb);
  --theme-color: #ffffff;
  --form-color: #4b4b4b;
  --white: #575757;
  --body: #28282a;
  --user-color: #a1c4fd;
  --text: #fff;
  --box-shadow: none;
}

body {
  background-color: var(--body);
  margin: 0 auto;
}

.container {
  width: 700px;
  height: 500px;
  background-color: var(--white);
  margin: 6rem auto;
  display: flex;
  border-radius: 40px;
  position: relative;
  box-shadow: var(--box-shadow);
}

.banner {
  width: 300px;
  height: 500px;
  background: var(--banner-color);
  border-radius: 40px 0 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  transition: all 0.7s;
  position: relative;
}
.banner h1 {
  margin-bottom: 1rem;
  color: #fff;
}
.banner p {
  color: #969696;
}
.banner button {
  padding: 0.6rem 1.5rem;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  background-color: var(--btn-color);
  color: #fff;
  transition: all 0.1s;

}

.banner button:hover {
  opacity: 1;
  transform: scale(1.05);
}

.banner button:active {
  transform: scale(1);
}

.title {
  width: 400px;
  text-align: center;
  margin-top: 1rem;
}

.theme {
    position: absolute;
    bottom:10px;
}

.btn-theme {
  width: 80px;
  height: 30px;
  border-radius: 20px;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.circle {
  transition: all 0.5s;
  position: absolute;
  left: 5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: var(--text);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.move-select {
  transform: translateX(45px);
}

.container-register {
  animation: show 1s ease-in-out;
  color: var(--text);
}

.social-container {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 20px;
  align-content: center;
}

.social {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  background-color: var(--form-color);
  border-radius: 20px;
}
.social img {
  width: 30px;
  height: 30px;
  filter: grayscale(0);
  cursor: pointer;
  transition: all 0.3s;
}
.social img:hover {
  filter: grayscale(1);
}

form {
  width: 400px;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
form p {
  font-weight: bold;
}

form input {
  width: 380px;
  height: 40px;
  border: none;
  background-color: var(--form-color);
  border-radius: 14px;
  outline: none;
}
form input::placeholder {
  text-align: center;
}

.btn button {
  padding: 0.6rem 1.5rem;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  background-color: var(--btn-color);
  color: #fff;
  transition: all 0.1s;
  margin-bottom: 1rem;
}

.btn button:hover {
  opacity: 1;
  transform: scale(1.05);
}

.btn button:active {
  transform: scale(1);
}

/* Login */

.container-login {
  width: 400px;
  height: 100%;
  color: var(--text);
  position: absolute;
  animation: show 1s ease-in-out;
}

.form-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: var(--user-color);
  border: 1px solid;
  display: flex;
  align-items: center;
  justify-content: center;
}

.user-image i {
  font-size: 4rem;
  color: var(--white);
}

.move {
  transform: translateX(400px);
  border-radius: 0px 40px 40px 0px;
}

.hide {
  display: none;
}

@keyframes show {
  from {
    opacity: 0;
    filter: blur(15px);
  }
  to {
    opacity: 1;
    filter: blur(0px);
  }
}

@media (max-width: 768px) {
  .container {
    width: 500px;
    height: 700px;
    display: flex;
    justify-content: center;
  }
  .banner {
    width: 500px;
    height: 200px;
    border-radius: 0;
    border-radius: 40px 40px 0px 0px;
    gap: 1rem;
  }
  .banner h1 {
    font-size: 1.5rem;
  }
  .banner p {
    font-size: 1rem;
  }
  .theme {
    position: relative;
}
  .container-register {
    position: absolute;
    bottom: 60px;
  }
  .container-login {
    height: 300px;
  }
  form input {
    width: 280px;
    height: 40px;
  }
  .move {
    transform: translateY(500px);
    border-radius: 0px 0px 40px 40px;
  }
}
@media (max-width: 600px) {
  .container {
    width: 350px;
    height: 700px;
    margin-top: 1rem;
  }
  .banner {
    width: 500px;
    height: 200px;
    border-radius: 0;
    border-radius: 40px 40px 0px 0px;
  }
  .banner h1 {
    font-size: 1rem;
  }
  .banner p {
    font-size: 0.6rem;
  }
  .container-register {
    position: absolute;
    bottom: 60px;
  }
  .container-login {
    height: 300px;
  }
  form input {
    width: 220px;
    height: 40px;
  }
  .move {
    transform: translateY(500px);
    border-radius: 0px 0px 40px 40px;
  }
}
